<div *ngIf="showModal" class="edit-section">
  <div class="edit-wrapper">
    <div class="p-4 w-100 border border-info m-auto">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h2 class="fs-2 mb-2 text-info border border-2 border-info d-inline-block p-2">EDIT</h2>
        <button class="btn btn-danger" (click)="close()">close</button>
      </div>

      <h3 class="fs-3 mb-4">Todo Details <span class="fs-3 text-danger">id:</span></h3>

      <form (ngSubmit)="onEditSubmit()" [formGroup]="editTodoForm">
        <div class="d-flex gap-2 align-items-center justify-center mb-4">
          <label for="hero-name" class="fs-4 w-25">Todo text: </label>
          <input id="hero-name" placeholder="text...." class="form-control" formControlName="text">
          <input type="checkbox" formControlName="isDone" [checked]="false" class="form-check-input">
        </div>

        <button class="btn btn-success save-btn" type="submit" [disabled]="editTodoForm.invalid">Save</button>
      </form>
    </div>
  </div>
</div>